*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.background{
    background: rgba(0, 0, 0,0.5) url('image/bg7.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

section{
    padding: 10px 5px;
}
.active{
    color: pink;
}
.vl{
    border-left: 2px solid pink;
    height: 20px;
    margin: 0 0.25rem;
}
.logo h3{
    font-size: 1rem;
    margin-left: 0.5rem;
    font-weight: lighter;
    color: pink;
}
.logo{
    font-family: 'Anton', sans-serif;
   font-family: 'Croissant One', cursive;
   font-family: 'Pacifico', cursive;
   width: 30%;
    display: flex;
    flex-direction: row;
     justify-content: center; 
     align-items: center; 
    font-size: 17px;
    margin-top: 0%;
   /* width: 20%;*/
    /*display: flex;*/
   /* justify-content: center;*/
    /*align-items: center;*/
   /* color:palevioletred;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 17px;*/

}

.logo img{
    display: flex;
    width: 20%;
}
/*header{
    position: sticky;
  top: 0;
  z-index: 100;

}*/
.navbar-bg{
    background-color: #58588f;
}
.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  padding: 2px;
  justify-content:center; 
  align-items: center;
    
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17%;

}
.nav-list li{
     list-style: none; 
     padding: 0px 20px;  
}

.nav-list li a{
    text-decoration: none;
    color: white;  

}
.nav-list li a:hover{
    text-decoration: none;
    color: pink;
}    

.rightnav{
    width: 50%;
    text-align: right;
    padding: 0 20px;
}
#search{
    padding: 0px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 9px;
    background: none;
}

.firstsection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    flex-direction: column;
    width: 100%;
}
.firsthalf{
    margin-top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.text-big{
    font-family: 'Anton', sans-serif;
   font-family: 'Croissant One', cursive;
   font-family: 'Oswald', sans-serif;
   font-family: 'Pacifico', cursive;
    display:flex ;
    text-align: center;
    align-items: center;
    font-size: 30px;
}
.btn{
    padding: 3px 5px;
    margin: 5px 2px;
    border: 1px solid white;
    border-radius: 7px;
    background: none;
    color:white ;
    cursor: pointer;
}
.button btn :hover{
    text-decoration: none;
    color: aqua;
}
.sec2{
    /*height: 400px;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    margin-left: 2%;
    margin-right:2%;
}
.paras{
    padding: 0 60px;
}
.section2{
    background-color: rgb(212, 196, 210);
    
}
.sectiontag2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fluidimage{
    max-width: 30rem;
    max-height: 30rem;
    margin-top: 4%;
    margin-bottom: 2%;
   
}

.section3{
    background-color:rgba(125, 117, 117, 0.458);
    padding-bottom: 2%;
}
.sec3{
    /*height: 450px;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    margin-left: 2%;
    margin-right:2%;
    
}
.sectiontag3{
    margin-top:0.5% ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4{
    background-color: rgb(195, 186, 175);
    padding-bottom: 2%;
}
.sec4{
    /*height: 450px;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    margin-left: 2%;
    margin-right:2%;
    flex-direction: row-reverse;
}
.section5{
    
    background-color: rgb(191, 214, 207); 
}
.section5 p{
    margin-left: 3%;
    margin-right: 3%;
}
#con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5%;
}
/*.contact{
    height: 800px;
}*/
.text-center{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    max-width: 60%;
    margin: 10px auto;
}
.form-input{
    margin: 1% 0%;
    padding: 5px 2px;
    width: 100%;
    font-size: 12.5px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-end{
    display: flex;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    margin: auto;
}
.text-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: white;
}
.bk{
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.hola{
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and  (max-width:995px){
    .navbar{
        background: none;
    }
    .nav-list{
        flex-direction: column;
        margin-left: 0%;
        gap: 1rem;
        padding: 1rem;
    }
    .text-big{
        font-size: 1.75rem;
    }
    .logo{
        flex-direction: row;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 360px;
        position: sticky;
    }
    .rightnav{
        text-align: center;
    }
    .firstsection{
        height: 60%;
    }
  
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .sec2{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .sectiontag2{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .sec3{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .fluidimage{
        max-width: 40%;
        max-height: 40%;
        margin-left: 25%;
    }
    .sec4{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .sectiontag4{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
   
    .paras{
        padding: 0px;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
}

